// @import '../base/react-d3-map-choropleth';

.markets-list__container {
  display: flex;
  flex-wrap: nowrap;
  padding: 0 20px;
  box-sizing: border-box;

  .markets-list__title {
    margin: 10px 10px 0 0px;
    text-align: left;
    min-width: 200px;
    max-width: 200px;
    box-sizing: border-box;
    display: flex;

    span {
      font-size: 26px;
      margin: auto 0;
    }
  }

  .toolTipClass {
    pointer-events: inherit;
    padding: 5px;
    color: inherit;
    opacity: 1;

    &:hover {
      visibility: visible !important;
      opacity: 1 !important;
    }
  }

  .card {
    .card-block {
      .card-title {
        font-size: 11px;
      }

      .card-text {
        font-size: 11px;
        overflow: hidden;
      }

      &.block {
        .card-text {
          height: 44px;
        }
      }
    }

  }

}